*{
  margin:0;
  padding:0;
}
#title{
  width:100%;
  height:300px;
  background: url(ENDGAME/img13.jpg) no-repeat;
  background-size: cover;
  min-width: 1360px;
}
.top{
   color: #FFF;
   text-align: center;
   line-height: 300px;
   font-family: "sy-sans";
    font-size: 44px;
    font-weight: 250;
    text-shadow: 0 10px 30px rgba(0,0,0,.3), 0 2px 10px rgba(0,0,0,.2);
}
#main{
  position: relative;
  width: 1400px;
  margin: 0 auto;
}
#main .box{
  width:320px;
  height: auto;
  padding: 15px 0px 0px 15px; /*上 右 下 左*/
  float: left;
}
/*设置每一个瀑布流块中的图像样式*/
#main .box .pic{
  width: 300px;
  height: auto;
  padding: 10px;
  background: #FFF;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 6px #ccc; /*中间投影*/
  border-radius: 5px; /*圆角*/
}
#main .box .pic img{
  width: 300px;

}